header {
  background-color: steelblue;
  color: lightskyblue;
}

.fav-text {
  color: steelblue;
}

body {
  background-color: steelblue;
}

main {
  background-color: lightskyblue;
  min-height: 150px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  flex-basis: calc(100% / 3 - 10px);
  background-color: lightcoral;
  text-decoration: none;
  padding: 5px;
  flex-grow: 1;
}

.link,
.btn {
  color: black;
}

.active,
.btn {
  color: white;
  background-color: indianred;
}

.link:not(.active):hover {
  background-color: cornflowerblue;
}

.text-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}
.image-container {
  flex-basis: calc(100% / 4 - 34px);
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: salmon;
  padding: 5px;
}
img {
  max-width: 100%;
  display: block;
  margin: 5px auto;
  max-height: 300px;
}

button {
  margin: 5px;
}

form {
  padding-top: 10px;
}

.top-padding {
  padding-top: 15px;
}

.margin {
  margin: 10px;
}
.marginLeft {
  margin-left: 10px;
}
.marginBottom {
  margin-bottom: 10px;
}
