.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  flex-basis: calc(100% / 3 - 10px);
  background-color: goldenrod;
  text-decoration: none;
  padding: 5px;
  flex-grow: 1;
}
.active,
.btn {
  background-color: darkorange;
}

.link:not(.active):hover {
  background-color: cornflowerblue;
}

.text-center {
  text-align: center;
}
